/* Basic CSS file */

// Define colors

$buttons-color: #007F8B;


html{
  font-size: 1.2em;
}

/* Header */

.od-nav-bar{

  font-size: 1em;

}

button{
  background-color: $buttons-color;
  color: white;
}


.top-space{

  margin-top: 5%;

}


.central-principal-brand{
  margin-top: 5%;
  padding-right: 5% ;
  padding-left: 5%;
  width: 75em;
  height: auto;
}

.central-content-brands{
  img{
    width: 30em;
    height: 15em;
  }
}

